.footer__column-link {
    line-height: 30px;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    color: white;
    opacity: 1;
    transition: opacity 2s;
  }
  .footer__column-link:hover {
    opacity: 0.5;
  }
 