.footer__social-icon {
    max-width: 16px;
    height: 16px;
    margin-right: 10px;
    vertical-align: middle;
    opacity: 1;
    transition: opacity 2s;
  }

  .footer__social-icon:hover{
    opacity: 0.5;
  }
  
