.header__title {
  margin: 0 0 0 64px;
  margin-bottom: 0px;
  margin-left: 64px;
  align-self: center;
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  z-index: 2;
}